.ebay-main-div {
    justify-content: center;
    display: flex;
}

.ebay-each-item-div {
    justify-content: center;
    display: flex;
}

.required::after {
    content: "*";
    color: red;
}

#hr-id {
    margin-top: -1%;
    margin-bottom: 1%;
    max-width: 720px; 
    width: 110%;
    border: none;
    height: 1px;
    background: rgba(202, 201, 201, 0.83);
}

.section {
    display: flex;
    background-color: #F4F3F5;
    border-style: solid;
    flex-direction: row;

    border-radius: 5px;
    border-width: 1px;
    margin-bottom: 1%;

    padding-left: 1.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    max-width: 700px; 
    width: 100%; 

    margin: 0 auto;
    margin-bottom: 0.2%;
    transition: box-shadow 0.1s;
}

.section:hover {
    box-shadow: 1px 6px 6px 3px #5151515c;
}

.hyperlink-img {
    height: 13px;
    opacity: 0.5;
}

#show-more-button {
    margin: 0 auto;
    display: block;
    margin-bottom: 1.5%;

    border: none;
    background-color: #DADADA; color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;   
}

#back-to-result {
    margin: 0 auto;
    display: block;
    margin-top: -0.8%;
    margin-bottom: 1.5%;

    border: none;
    background-color: #DADADA; color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

#show-more-button:hover {
    background-color: #4BAE50; color: white;
}

#back-to-result:hover {
    background-color: #4BAE50; color: white;
}

.image {
    margin-right: 4%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 0.5%;
    height: auto;
    width: 20%;
    max-height: 95px;
    flex: none;
    max-width: 25%;
    border: 2px solid #AAA9A9;
    transition: transform .3s;
}

.image:hover {
    -ms-transform: scale(2); 
    -webkit-transform: scale(2); 
    transform: scale(2); 
}

.top-rated-img {
    height: 25px;
    width: 18px;
    position: relative;
    top: 7px;
}

.content {
    text-align: left;
    max-width: 75%;
    flex: 1;
    min-height: 100%;
}

.each-title-bold {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.each-item-price {
    font-weight: bold;
}

.italized {
    font-style: italic;
}

.ebay-image {
    height: 70px;
}

.form-table, .td-form-table {
    align-self: center;
    border-collapse: collapse;
    size: 10px;
    text-align: center;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
}

table td, table th {
    border-bottom: 1px solid #c9c9c9;
}
table tr:first-child {
    border-top: 1px solid black;
}
table tr:last-child td {
    border-bottom: 1px solid black;
}
table tr td:first-child,
table tr th:first-child {
    border-left: 1px solid black;
}
table tr td:last-child,
table tr th:last-child {
    border-right: 1px solid black;
}

.dropdown-menu {
    text-align: center; 
}

.form-button {
    border: none;
    background-color: #DADADA; color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;   
}

.image-single {
    height: 160px;
    width: auto;
}

.table-each-item {
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid #DADADA;
}

.table-each-item tbody tr td {
    text-align: left;
    border: 2px solid #DADADA;
    padding-right: 10px;
    padding-left: 1%;
    white-space: nowrap;
    table-layout: fixed;
    overflow: hidden;
}

.each-cell-1 {
    font-weight: bold;
    max-width: 100%;
}

.each-cell-2 {
    max-width: 100%;
}

.form-button:hover {
    background-color: #4BAE50; color: white;
}