#title-id {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-decoration: None;
}

#title-id:hover {
    text-decoration: underline;
}

#activate-table-row {
    background-color: antiquewhite;
    width: 1px;
}